<title>Artist</title>


<body>
  <h1>AlbumName</h1>
  <div class="container">
    <%- include('partials/header') %>
    <div class= "jumbotron">
  <div>
    <%= albums.title %>
    <%= albums.year %>

  </div>
  </div>
</div>
</body>

</html>
