<title>Artist</title>


<body>
  <h1>artist</h1>
  <div class="container">
    <%- include('partials/header') %>
    <div class= "jumbotron">
  <div>
    <% artists.forEach(function(artist){ %>
      <div>
        <%= artist.name %>
      </div>
    <% }) %>
  </div>
  </div>
</div>
</body>

</html>
