<title>Artist</title>


<body>
  <div class="container">
    <%- include('partials/header') %>
    <h1><%= artist.name %></h1>
    <div class= "jumbotron">
      <% album.forEach(function(album){ %>
  <div>
    <%= album.title %>
    <%= artist.genre %>

  </div>
  <% }) %>
  </div>
</div>
</body>

</html>
