<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MusicPlayer</title>
</head>

<body>
  <div class="container">
    <%- include('partials/header') %>
    <div class= "jumbotron">
  <div class="Artist_header">

    <div class="artists">
      <% artists.forEach(function(artists){ %>

      <div class="album-num">
        <%= artists.name %>
        <div class="genre">
          <%= artists.genre %>
          <div class="artist_image">
          </div>

        </div>
      </div>
      <% }) %>


    </div>
  </div>
</div>
</div>
</body>

</html>
