<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Music Player</title>
    <link rel="stylesheet" type="text/css" href="../../public/stylesheet.css">
</head>

<body>
  <div class="container">
    <%- include('layout/header') %>
    <h2 class="text-center">Current Artists</h2>

    <div class= "jumbotron">

      <div class="artists row">
        <% artists.forEach(function(artists){ %>

          <div class="artist_image col-xs-6">
            <img class="img-responsive center-block" src="http://300.dgljamaica.com/assets/images/unavailable_1.jpg" width="220" height="220">
          </div>
          <div class="album-name well col-xs-6">
            <p><a href="artists/<%= artists.id %>"><%= artists.name %></a></p>
            <br>
            <br>
            <p>Genre:<%= artists.genre %></p>
          </div>
        <% }) %>
    </div>
</div>
</div>
</body>

</html>
